amqp==5.1.1
aniso8601==9.0.1
asgiref==3.6.0
attrs==22.2.0
billiard==4.1.0
celery==5.3.1
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
Django==4.1.7
django-graphql-jwt==0.3.4
djangorestframework==3.14.0
drf-spectacular==0.26.1
flower==2.0.0
graphene==3.3
graphene-django==3.1.3
graphql-core==3.2.3
graphql-relay==3.2.0
humanize==4.7.0
inflection==0.5.1
jsonschema==4.17.3
kombu==5.3.1
model-bakery==1.17.0
prometheus-client==0.17.1
promise==2.3
prompt-toolkit==3.0.39
PyJWT==2.8.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3
PyYAML==6.0
six==1.16.0
sqlparse==0.4.3
text-unidecode==1.3
tornado==6.3.2
tzdata==2023.3
uritemplate==4.1.1
vine==5.0.0
wcwidth==0.2.6
