{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Arone Sadegh">
    <!-- Tab bar name  -->
    <title>Online Quiz</title>
    <!-- Tab bar icon  -->
    <link rel="shortcut icon" href="{% static 'Image/icon.png' %}">
    <!-- Style Sheets -->
    <link rel="stylesheet" href="{% static '/Css/style.css' %}">
    <!-- FontAweome CDN Link for Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
